
 @import url(icofont.css);
 @import url(icofont.min.css);
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    margin-top: 80px;
    padding: 15px 50px 0 200px;
    background: rgb(2,0,36);
    background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(84,105,212,1) 100%);
}
.body-admin{
    margin-top: 0;
    padding: 0;
}

menu{
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #e5e5e5;
}
menu ul{
    margin-top: 50px;
}

menu ul li{
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
    list-style: none;
    font-weight: 800;
    color: #2b2b2b;
    transition: all .3s;
    cursor: pointer;
}

menu ul li:hover{
    background-color: #285AEB;
    color: #d1d1d1;
}

.cai-fora{
    transform: translate3d(-100px,0,0) !important;
    opacity: 0;
    z-index: -99;
}

.cai-fora-form{
    transform: translate3d(-30%,0,0) !important;
    opacity: 0;
    z-index: -99;
}

.close-user{
position: absolute;
right: 25px;
top: 25px;
border-radius: 50%;
height: 30px;
width: 30px;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
color: #fff;
box-shadow: inset 0 0 5px 2px #242424;
font-size: 16px;
background-color: #d92424;
border: solid 2px #ff0404e8;
box-shadow: inset 2px 3px 5px rgb(22, 22, 22);
cursor: pointer;
font-weight: 800;
transition: .4s;
}

.close-user:hover{
    transform: scale(1.2);
}

.none{
    display: none !important;
}

.container-users{
    position: relative;
    width: 800px;
    margin: auto;
    transition: .6s;
}

.info-user{
    position: absolute;
    top: 10px;
    right: 50%;
    padding: 70px 10px 10px 40px;
    transform: translate3d(70%,0,0);
    width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0;
    transition: all .5s;
}

.info-user p{
    padding-bottom: 15px;
}

#name-user{
    font-size: 30px;
}

.info-user-show{
    transform: translate3d(50%,0,0);
    opacity: 1;
}

.btns-users{
    display: flex;
    margin-top: 30px;
    justify-content: end;
}

.btns-users button{
  width: 120px;
  margin-right: 12px;
  padding: 10px 20px;
}

.btn-del-user{
    background-color: #85160c;
}


.container-users ul li{
    list-style: none;
    color: #e5e5e5;
    padding: 12px;
    border-bottom: 1px solid #e7e7e770;
    cursor: pointer;
    border-left: 5px solid #e5e5e500;
    transition: all .3s;
}

.container-users ul li:hover{
    border-left: 5px solid #e5e5e5;
}

.container-users ul li span{
    margin-right: 10px;
    border-right: 1px solid #e7e7e770;
    padding-right: 10px;
}

.user{
    opacity: 0;
    transform: translate3d(40px,0,0);
    transition: all 0.3s;
}

.showUser{
    opacity: 1;
    transform: translate3d(0,0,0);
}


.form-in{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: .5s;
    position: absolute;
    top: 128px;
    right: 50%;
    transform: translate3d(50%,0,0);
    transition: .5s;
}
.form{
    padding: 15px 30px 15px 30px;
    margin: auto;
    width: 470px;
    border: solid 1px rgb(218, 218, 218);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    box-sizing: border-box;
}

 form{
    padding: 15px 30px 15px 30px;
    margin: auto;
    width: 470px;
    border: solid 1px rgb(218, 218, 218);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    box-sizing: border-box;
}


input{
    box-sizing: border-box;
    color: rgb(43, 43, 43);
    box-sizing: border-box;
    font-size: 1rem;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: solid 1px rgb(216, 216, 216);
    border-radius: 10px;
}

label{
    font-size: 0.9rem;
    color: rgb(97, 97, 97);
    margin-bottom: 5px;
    margin-top: 15px;

}

.radio{
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    width: 15px;
    padding: 10px 10px 10px 10px;
    border: solid 1px rgb(216, 216, 216);
    border-radius: 10px;
}
a{
    width: 100%;
}
 button{ 
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin: 30px 0 15px 0;
    padding: 10px 20px 15px 10px;
    background-color: #5469d4;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.39);
    transition: all 0.4s;

}

button:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0);
}



  
 /*--======================Reprodução===================================--*/

 /*--======================Footer===================================--*/

  @media(max-width:800px){
    body{
        padding: 0;
        background: rgb(2,0,36);
        background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(84,105,212,1) 100%);
        box-sizing: border-box;
    }
    .banner{
        height: 100vh;
        width: 100%;
        background-color: black;
    }

    .form{
        box-sizing: border-box;
        padding: 15px 30px 15px 30px;
        margin: auto;
        width: calc(100% - 30px);
        border: solid 1px rgb(218, 218, 218);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        margin: 30px 15px 50px 15px;
    }


  }
   /*--======================Footer===================================--*/